@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.sectionTwo {
  margin-block: fn.rem(64);
  @include breakpoint-up('xl') {
    // background: url(../../../../../assets//images//home-sec1.webp) no-repeat left
    // bottom;
    // background-position: -10%;
  }
  .headerDescription {
    text-align: center;
  }
  .headerTitle {
    font-weight: 600;
    text-align: center;
    color: colors.$blue;
    text-transform: uppercase;
    margin-block: fn.rem(10);
  }
  .descriptionContainer {
    width: 100%;
    margin: 0 auto;
    @include breakpoint-up('xl') {
      max-width: 60%;
    }
  }
  .title {
    text-align: center;
    font-weight: 600;
    // font-size: fn.rem(24);
    @include breakpoint-up('xl') {
      // font-size: fn.rem(32);
      text-align: center;
    }
  }
  .subTitle {
    text-align: center;
    font-weight: 600;
    // font-size: fn.rem(32);
  }
  .desc {
    text-align: center;
    // font-size: fn.rem(14);
    max-width: fn.rem(557);
  }

  .body {
    .cardGroup {
      display: grid;
      grid-template-columns: auto;
      grid-gap: fn.rem(32);
      margin-top: -3rem;

      @include breakpoint-up('lg') {
        grid-template-columns: auto auto auto auto;
      }
    }
  }
}
