@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.stepper {
  .step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-block: fn.rem(32);
    

  }

  .section {
    border: 1px solid transparent;
  }

  .vStepper {
    position: relative;
    display: none;
    @include breakpoint-up('md') {
      display: block;
      margin-right: fn.rem(40);
    }
  }

  /* regular step */
  .step .circle {
    background-color: colors.$light-blue-border;
    border-radius: 100%;
    width: fn.rem(38); /* +6 for border */
    height: fn.rem(38);
  }

  .circle {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: colors.$blue;
      width: fn.rem(26);
      height: fn.rem(26);
      border-radius: 100%;
    }
  }

  .step .line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 107%;
    border-left: fn.rem(1) solid colors.$blue;
  }

  .step:last-child .line {
    display: none;
    background-color: colors.$blue;
    border-left: fn.rem(1) solid colors.$light;
  }

  .step.completed .circle {
    position: relative;
    background-color: colors.$gold-border;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: colors.$gold;
      width: fn.rem(26);
      height: fn.rem(26);
      border-radius: 100%;
    }
  }

  .content {
    width: 100%;

    .title {
      font-weight: 700;
      // color: black

    }

    h3> .D {
      color: yellow;
    }



  }

  

  .contentFlex {
    @include flex_column;

    .bgwrapper {
      @include breakpoint-up('lg') {
        width: 65%;
      }
      .caption {
        // margin-top: fn.rem(32);
      }
    }
    // gap: fn.rem(30);
    @include breakpoint-up('lg') {
      @include flex;
      align-items: center;
      gap: 3.5rem;
      // align-items: center;
    }

    .text {
      display: none;
      // width: fn.rem(716);
      @include breakpoint-up('lg') {
        display: block;
        width: 40%;
        padding: fn.rem(32);
        height: fn.rem(400);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .textMobile {
      // display: none;
      // width: fn.rem(716);
      @include breakpoint-up('lg') {
        display: none;
        width: 40%;
        padding: fn.rem(32);
        height: fn.rem(400);
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}



// ._line_1e1f7_36 {
//     border: 1px solid red !important;
//     display: none;
//   }
