@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';
.nav {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background: #f0f0f0;
  }
}
