@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.authLayout {
  position: relative;
  height: 100vh;
  width: 100%;
  @include flex_column;
  @include breakpoint-up('lg') {
    @include flex;
  }

  .logo {
    padding: fn.rem(20);
    @include breakpoint-up('lg') {
      position: absolute;
      top: fn.rem(45);
      left: fn.rem(55);
      z-index: 999;
    }
  }
  .imgContainer,
  .children {
    @include breakpoint-up('lg') {
      height: 100%;
      width: 50%;
    }
  }

  .imgContainer {
    display: none;
    height: fn.rem(100);
    @include breakpoint-up('lg') {
      display: initial;
      height: 100%;

      img {
        filter:brightness(50%);
      }
    }
  }

  .children {
    padding-inline: fn.rem(16);
    position: relative;
    overflow: auto;

    .childrenWrapper {
      @include flex_column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      max-width: fn.rem(528);
      margin: 0 auto;
    }
  }

  .children {
    padding-block: fn.rem(63);
  }
}
