@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.body {
  width: 100vw;
  //   border: 1px solid red;
  .content {
    height: 100%;
    border-top: 9px solid colors.$blue;
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
  }
}
