@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.headerContainer {
  background-image: url(@assets/images/HeroBg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  padding-top: fn.rem(180);
  padding-bottom: fn.rem(50);
  @include breakpoint-down('sm') {
    padding-top: fn.rem(180);
    padding-bottom: fn.rem(20);
  }

  .subtitle {
    margin: 0 auto;
    // font-size: fn.em(44);
    font-weight: 700;
    color: white;
    line-height: fn.rem(50);
    letter-spacing: fn.rem(0.5);
    @include breakpoint-down('sm') {
      text-align: center;
      // font-size: fn.em(24);
    }
  }
  .subtitleTwo {
    color: white;
    // font-size: fn.rem(27);
    font-weight: 400;
    margin-block: 20px;
    line-height: fn.rem(48);
    @include breakpoint-down('lg') {
      // font-size: fn.em(18);
      padding-bottom: fn.rem(20);
    }
  }
  .searchIcon {
    position: absolute;
    bottom: fn.rem(16);
    left: fn.rem(25);
    // font-size: fn.rem(25);
    // padding-right: fn.rem(10);
  }
  .searchContainer {
    position: relative;
    max-width: fn.rem(780);
    width: 80%;
    margin: 0 auto;
  }
  // // .searchBar {
  //   // max-width: fn.rem(780);
  //   width: 95%;
  //   border-radius: fn.rem(12);
  //   padding: fn.rem(20) fn.rem(35);
  //   margin-top: fn.rem(20);
  //   outline: none;
  //   border: none;
  // // }

  .searchBar {
    max-width: fn.rem(780);
    width: 95%;
    height: fn.rem(36);

    input {
      &::placeholder {
        font-size: fn.rem(10);
        color: colors.$secondary;
      }
    }
  }
}
