@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.form {
  border-top: fn.rem(7) solid colors.$blue;
  width: 100%;
  max-width: fn.rem(480);
  margin: 0 auto;
  border-radius: fn.rem(8);
  @include flex_column;
  gap: fn.rem(24);
  padding: fn.rem(24);
  @include breakpoint-up('lg') {
    padding: fn.rem(48);
  }

  .select {
    option {
      font-size: fn.rem(14);
    }
  }

  .textArea {
    textarea {
      height: fn.rem(100);
    }
  }

  .btnContainer {
    button {
      width: 100%;
      background-color: colors.$blue;
      color: colors.$light;
      border-radius: fn.rem(8);
      font-size: fn.rem(14);
    }
  }
}
