@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

// HERO COMPONENT
.employerHero {
  // border: 1px solid red;
  height: 50%;
  margin-block: fn.rem(100);
  margin-block-start: fn.rem(150);
  @include breakpoint-up('lg') {
    height: fn.rem(550);
    background: url(https://res.cloudinary.com/dkszgtapy/image/upload/v1686218517/techstudio-web-app/assets/images/bgEmployer_nzwpfd.webp)
      no-repeat right;
    background-size: 50%;
    padding-block: fn.rem(100);
  }
  .heroWrapper {
    text-align: center;
    @include flex_column;
    @include breakpoint-up('lg') {
      @include flex;
      gap: fn.rem(180);
    }

    .heroText {
      flex: 1;
      @include breakpoint-up('sm') {
        text-align: center;
      }
      @include breakpoint-up('lg') {
        text-align: left;
      }

      .heroHeaderText {
        color: colors.$deep-blue;
        @include breakpoint-up('lg') {
          margin-inline-end: fn.rem(50);
          font-size: fn.rem(40);
        }
      }

      .description {
        margin: fn.rem(16) 0 fn.rem(52);
        @include breakpoint-up('2xl') {
          padding-right: fn.rem(100);
          font-size: fn.rem(20);
        }
      }

      //   .btnGroup {
      //     margin-bottom: fn.rem(60);
      //     @include flex_column;
      //     align-items: center;
      //     gap: fn.rem(24);
      //     a {
      //       font-size: fn.rem(14);
      //       padding-block: fn.rem(10);
      //       font-weight: 600;
      //     }

      //     @include breakpoint-up('md') {
      //       @include flex;
      //       @include flex_justify;
      //       padding: 0;
      //     }
      //     @include breakpoint-up('lg') {
      //       @include flex;
      //       justify-content: flex-start;
      //       padding: 0;
      //     }
      //   }
    }

    .heroImgContainer {
      // display: none;
      @include breakpoint-up('lg') {
        position: relative;
        flex: 1;
        @include flex;
        z-index: 1;
      }
      //   img {
      //     width: 100%;
      //     height: 100%;

      //     @include breakpoint-up('sm') {
      //       padding: fn.rem(32);
      //     }
      //     @include breakpoint-up('md') {
      //       padding: fn.rem(112);
      //     }
      //     @include breakpoint-up('lg') {
      //       padding: initial;
      //     }
      //   }
    }
  }

  //   .heroImgContainerMobile {
  //     @include flex;
  //     height: 100%;
  //     flex: 1;
  //     @include breakpoint-up('lg') {
  //       display: none;
  //     }
  //     img {
  //       width: 100%;
  //       height: 100%;

  //       @include breakpoint-up('sm') {
  //         padding: fn.rem(32);
  //       }
  //       @include breakpoint-up('md') {
  //         padding: fn.rem(112);
  //       }
  //       @include breakpoint-up('lg') {
  //         padding: initial;
  //       }
  //     }
  //   }
}
