.admin-tab .active {
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0 !important;
  border-bottom: 3px solid #0266f4;
}
.search-tab .active {
  font-size: 1rem;
  color: #1f2666;
  background-color: transparent;
  border-radius: 0 !important;
  border-bottom: 2px solid #1f2666;
}

.dont-delete-btn:hover,
.dont-delete-btn:active,
.dont-delete-btn:focus {
  background-color: transparent;
  color: #e00017;
}

.cancel-btn:hover,
.cancel-btn:active,
.cancel-btn:focus {
  background-color: transparent;
  color: #0266f4;
}

.table {
  background: transparent !important;
}

.table td,
.table th {
  padding: 1rem;
}

.table > :not(caption) > * > * {
  border: none !important;
}

.form-check-input {
  width: 22px;
  height: 22px;
}

.dropdown-menu {
  width: 300px !important;
  /* height: 400px !important; */
}

.dropdown-menu li a {
  justify-content: flex-start;
  margin: 0.5rem 0;
}

/* ROUTE TRANSITION ANIMATION */
.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

.cc-bend {
  transform: perspective(1200px) translateX(0px) translateY(-29.781px)
    scale(0.950365) rotate(0deg) rotateX(9.92701deg) rotateY(0deg)
    translateZ(0px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}
/* ROUTE TRANSITION ANIMATION END */
