@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.aboutSectionFour {
  &Content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font: 35px;

    @include breakpoint-up('lg') {
      width: fn.rem(600);
    }

    .subtitle {
      // font-size: 16px;
    }
  }
  .title {
    font-weight: 600;
    // font-size: fn.rem(35);
  }
  .teamCardGroup {
    // border: 1px solid red;
    display: grid;
    grid-gap: fn.rem(20);
    grid-row-gap: fn.rem(50);
    margin-top: fn.rem(60);
    grid-template-columns: repeat(1, 1fr);

    @include breakpoint-up('sm') {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up('xl') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
