@use '@/scss/global/colors' as colors;
@use '@/scss/utils/functions' as fn;
@import '@/scss/utils/breakpoints';
@import '@/scss/utils/mixins';

.contactHero {
  color: colors.$light;
  background: url(@assets/images/HeroBg.webp) repeat
    no-repeat center;
  background-size: cover;
  //   height: fn.rem(316);

  .heroWrapper {
    text-align: center;
    padding-block: fn.rem(150);

    .title {
      // font-size: fn.rem(34);
      font-weight: 700;
      color: colors.$light;
    }
    .subTitle {
      width: 100%;
      max-width: fn.rem(900);
      margin: auto;
    }
  }
}
